<% if @repository.find_changeset_by_name(params[:rev]) %>

<%
  rev_to = params['rev_to']
  review_id = params['review_id']
  rev = params['rev']
  path = params['path'].blank? ? '.' : Array(params['path']).join('/')
%>

<div id="code_review"></div>

<%= javascript_tag do %>
  $(document).ready(function(){
    $.get('<%= j update_diff_view_code_review_path(project,
                                                   repository_id: @repository.identifier_param) %>',
          {
            rev: '<%= j rev %>',
            path:'<%= j path %>',
            review_id: '<%= j review_id %>',
            action_type:'<%= j params[:action] %>',
            rev_to: '<%= j rev_to %>'
          }
    );
  });
<% end %>

<% else %>
  <%= render partial: 'code_review/change_entry_norevision_view', locals: { project: project } %>
<% end %>
