<% if review and review.project and User.current.allowed_to?(:view_code_review, review.project) %>
  <tr>
    <td><b><%= l(:code_review) %>:</b></td>
    <td colspan="3">
      <%
      label = URI.decode("#{review.repository_identifier + ':' if review.repository_identifier}#{review.path}#{'@' + review.revision if review.revision}:line #{review.line}")
      -%>
      <%= link_to label, controller: 'code_review', action: 'show', id: review.project, review_id: review.id, repository_id: review.repository_identifier %>
    </td>
  </tr>
<% end %>

<% if assignment and assignment.project and User.current.allowed_to?(:view_code_review, assignment.project) %>
  <% repository_id = assignment.repository_identifier %>
  <tr>
    <td><b><%= l(:review_assigned_for) %>:</b></td>
    <td colspan="3">
      <% if assignment.path %>
        <%
        label = URI.decode("#{repository_id + ':' if repository_id}#{assignment.path}#{'@' + assignment.revision if assignment.revision}")
        -%>
        <%= link_to label, controller: 'code_review', action: 'show', id: assignment.project, assignment_id: assignment.id, repository_id: repository_id %>
      <% elsif assignment.revision %>
        <%
        repo = assignment.repository || (assignment.project || project).repository
      %>
        <%= l(:label_revision) + " "%>
      <%=  link_to_revision(assignment.revision, repo) %>
      <% elsif assignment.attachment %>
        <%= link_to(assignment.attachment.filename, :controller => 'attachments', :action => 'show', :id => assignment.attachment.id) %>
      <% end %>
    </td>
  </tr>

<% end %>

