<% if changeset = @repository.find_changeset_by_name(params[:rev]) %>

<% path = params['path'].blank? ? '.' : Array(params['path']).join('/') %>

<div id="code_review"></div>

<%= javascript_tag do %>
  $(document).ready(function(){
    $.get('<%= j update_diff_view_code_review_path(project) %>',
          {
            repository_id:'<%= j @repository.id.to_s %>',
            changeset_id: '<%= j changeset.id.to_s %>',
            change_id:    '<%= j @change.try(:id).to_s %>',
            action_type:  '<%= j params[:action] %>',
            review_id:    '<%= j params[:review_id] %>',
            path:         '<%= j path %>',
            rev:          '<%= j params[:rev] %>',
            rev_to:       '<%= j params[:rev_to] %>'
          }
    );
  });
<% end %>

<% else %>
  <%= render partial: 'code_reviews/change_entry_norevision_view', locals: { project: project } %>
<% end %>
