<h2><%= l(:code_reviews) %></h2>

<% if @reviews.present? %>
  <p>
    <%= form_tag(code_reviews_path(@project), method: :get, id: 'optionform') do %>
      <label for="show_closed">
        <%= check_box_tag 'show_closed', 'true', @show_closed, onchange: "$(this).closest('form').submit();" %> <%= l(:label_show_closed_reviews) %>
      </label>
    <% end %>
  </p>

  <table class="list">
    <thead>
      <tr>
        <%= sort_header_tag "#{Issue.table_name}.id", :caption => '#'  %>
        <%= sort_header_tag "#{Issue.table_name}.status_id", :caption => l(:field_status)%>
        <%= sort_header_tag "#{Issue.table_name}.subject", :caption => l(:field_subject)%>
        <%= sort_header_tag 'path', :caption => l(:label_code_path)%>
        <th>
          <%= l(:label_code_line)%>
        </th>
        <%= sort_header_tag "#{Changeset.table_name}.revision", :caption => l(:label_revision)%>
        <%= sort_header_tag "#{Changeset.table_name}.committer", :caption => l(:label_code_author)%>
        <%= sort_header_tag 'user_id', :caption => l(:label_code_reviewer)%>
        <%= sort_header_tag 'updated_at', :caption => l(:label_date) %>
      </tr>
    </thead>
    <tbody>
      <% for review in @reviews %>
        <tr class="<%= cycle 'odd', 'even' %>">
          <td>
            <%= link_to review.issue.id.to_s, {:controller => 'issues', :action => 'show',
              :id => review.issue.id}, :title => review.issue.subject %>
          </td>

          <td class="status">
            <%=  review.issue.status %>
          </td>
          <td class="subject">
            <%=  review.issue.subject %>
          </td>
          <td class="path">
            <%
            review_path = URI.decode(review.path)
            codepath = review_path
            if (review_path.length > 55)
              codepath = review_path[0, 15] + '...' + review_path[review_path.length - 35, 35]
            end
            -%>
            <%= link_to codepath, code_review_path(@project, review), :title => review_path %>
         </td>
          <td><%= review.line %></td>
          <td><%= review.revision %></td>
          <td><%= review.committer %></td>
          <td><%= review.user.name %></td>
          <td><%= format_time(review.created_at) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <span class="pagination"><%= pagination_links_full @review_pages, @review_count %></span>

<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>

